body {
    text-align: center;
    font-size: 20px;
    width: 400px;
    margin: auto;
    margin-top: 100px;
}

#left, #right {
    text-align: left;
    display: inline-block;
    margin: 0px 40px 0px 40px;
}

.head {
    font-size: 24px;
    font-weight: 600;
}