body {
    text-align: center;
    font-size: 20px;
}

#num {
    font-size: 16px;
    padding: 3px;
    width: 200px;
}

#header {
    font-size: 35px;
    background-color: black;
    color: white;
    height: 80px;
    padding: 30px 0px 0px 0px;
    margin: -10px -10px 0px -10px;
}