<div>
    <p>Non - Technical</p>
    <select ng-model="nonTechnical">
        <option ng-repeat="each in subjectsName" value="{{ each }}">{{ each }}</option>
    </select>
    <select ng-model="book" ng-show="visible">
        <option ng-repeat="each in books" value="{{ each }}">{{ each }}</option>
    </select>
    <div ng-show="visible2">
        <p>Copies : {{details[book].copies}}</p>
        <p>Description : {{ details[book].des }}</p>
    </div>
    <input type="button" value="Remove from cart" ng-show="details[book].added" ng-click="remove()">
    <input type="button" value="Add to cart" ng-hide="details[book].added" ng-click="add()" ng-disabled="!details[book].copies">
</div>
