body {
    padding-top: 0px;
}
.leftContainer,
.rightContainer {
    padding: 10px;
}
div {
    display: inline-block;
}
.each {
    border-bottom: 1px solid #DDD;
    padding: 5px;
    width: 100%;
}
.left {}
.top,
.bottom {
    width: 100%;
}
.travels {
    color: #000;
    font-size: 26px;
}
.ac,
.sleeper {
    color: #555;
    font-size: 16px;
}
.center {
    color: #000;
    font-size: 16px;
}
.right {}
.terminal {
    color: #000;
    font-size: 20px;
}
.rightContainer {
    width: 33%;
    height: 100%;
    display: none;
    vertical-align: top;
}
.selTravels {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 26px;
}
.selTerminals {
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.busContainer {
    width: 140px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
}
.seatContainer {
    width: 120px;
}
.seat {
    width: 20px;
    height: 20px;
    background-color: #8F8;
    margin: 2px;
    padding: 2px;
}
.berth {
    width: 20px;
    height: 50px;
    background-color: #8F8;
    margin: 2px;
    padding: 2px;
}
.leftSeat {
    float: left;
    width: 50px;
    margin: 0px;
    padding: 0px;
}
.rightSeat {
    float: right;
    width: 50px;
    margin: 0px;
    padding: 0px;
}
.seatPair {
    padding: 0px;
    margin: 0px;
}
.lastSeat {
    clear: both;
    margin: 0px;
    padding: 0px;
}
.leftBerth {
    float: left;
    width: 30px;
    margin: 0px;
    padding: 0px;
}
.rightBerth {
    float: right;
    width: 50px;
    margin: 0px;
    padding: 0px;
}
.seatContainer,
.berthContainer {
    display: none;
}
