body {
    text-align: center;
    vertical-align: middle;
    font-size: 19px;
    /*border: 2px solid black;*/
}

#header {
    font-size: 36px;
    background-color: black;
    color: white;
    height: 100px;
    padding: 15px;
}

#left, #middle, #right {
    display: inline-block;
    border-right: 2px solid black;
    height: 500px;
    text-align: center;
    overflow-y: auto;
    margin-top: 30px;
}

#leftHead, #topMovie, #middleHead {
    font-size: 24px;
    font-weight: 600;
}

#leftHead > p,#topMovie > p {
    font-weight: 100;
    font-size: 19px;
    margin: 0px;
}

#leftHead > p:first-child, #topMovie > p:first-child {
    margin-top: 20px;
}

input {
    font-size: 18px;
}