<!doctype html>
<html>

<!-- Create a sign up page for an application that has the following constrains. The password should be a combination of alphabets in capital letter and numbers. Use $watch to validate as the user type password and warn if it doesn't meet the constrains -->

<head>
    <title>Sign Up</title>
    <script src="angular.js"></script>
    <script>
        angular.module("myApp", []).controller("myController", function($scope) {

            $scope.status = '';

            $scope.$watch('data', function() {
                if ($scope.data === undefined || $scope.data === '')
                    $scope.status = '';
                else if (/^(?=.*[A-Z])(?=.*\d)[A-Z\d]{2,}$/.test($scope.data))
                    $scope.status = 'Valid';
                else
                    $scope.status = 'Invalid';
            });

        });

    </script>
</head>

<body ng-app="myApp" ng-controller="myController" style="text-align: center">
    <p>The password should be a combination of alphabets in capital letter and numbers.</p>
    <input type="password" placeholder="password" ng-model="data">
    <p>{{ status }}</p>
</body>

</html>
