<!doctype html>
<html>

<!-- Extend Assignment 2a to show all the submitted email ids in a table (new emails should get added to the table) -->

<head>
    <title>Email ID Validation</title>
    <script src="angular.js"></script>
    <script>
        angular.module("myApp", []).controller("myController", function($scope) {
            $scope.emailIDs = [];
            $scope.staus = '';
            $scope.result = '';
            $scope.show = false;
            $scope.emailRegEx = /^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.(([0-9]{1,3})|([a-zA-Z]{2,3})|(aero|coop|info|museum|name))$/;

            $scope.validate = function() {
                if (!$scope.emailRegEx.test($scope.emailID) || $scope.emailID === '' || $scope.emailID === undefined) {
                    $scope.status = 'Invalid email ID';
                    $scope.show = false;
                } else {
                    $scope.status = '';
                    $scope.show = true;
                }
                $scope.result = '';
            };

            $scope.submit = function() {
                $scope.result = 'Email submitted successfully';
                var temp = false;
                for (each in $scope.emailIDs) {
                    if ($scope.emailIDs[each].id === $scope.emailID)
                        temp = true;
                }
                if (temp === false)
                    $scope.emailIDs.push({
                        no: $scope.emailIDs.length + 1,
                        id: $scope.emailID
                    });
            }
        });

    </script>
    <style>
        html {
            height: 100%;
        }
        
        body > * {
            margin: 10px;
            height: 100%;
        }
        
        .left {
            display: table-cell;
            vertical-align: top;
        }
        
        .left > * {
            margin: 10px
        }
        
        .left,
        .right {
            margin: 0px;
            width: 40%;
            display: inline-block;
            height: 100%;
        }
        
        table {
            border-collapse: collapse;
        }
        
        th,
        td {
            margin: 0px;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            padding: 2px 10px 2px 10px;
        }

    </style>
</head>

<body ng-app="myApp" ng-controller="myController">
    <div class="left">
        <input type="text" placeholder="email ID" ng-model="emailID" ng-change="validate()">
        <div>{{ status }}</div>
        <input type="button" value="Submit" ng-click="submit()" ng-show=show>
        <div>{{result}}</div>
    </div>
    <div class="right">
        <table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>email ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="each in emailIDs">
                    <td>{{each.no}}</td>
                    <td>{{each.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
