<!doctype html>
<html>

<!-- Modify Assignment 4b to use Parsers instead of $watch -->

<head>
    <title>Sign Up</title>
    <script src="angular.js"></script>
    <script>
        var myApp = angular.module("myApp", []);

        myApp.controller("myController", function($scope) {
            $scope.status = '';
            $scope.data = '';
        });

        myApp.directive("myDirective", function() {
            return {
                restrict: 'A',
                require: 'ngModel',
                link: function(scope, element, attribute, control) {
                    control.$parsers.push(validate);

                    function validate(data) {
                        if (data === undefined || data === '')
                            scope.status = '';
                        else if (/^(?=.*[A-Z])(?=.*\d)[A-Z\d]{2,}$/.test(data))
                            scope.status = 'Valid';
                        else
                            scope.status = 'Invalid';
                    };
                }
            }
        });

    </script>
</head>

<body ng-app="myApp" ng-controller="myController" style="text-align: center">
    <p>The password should be a combination of alphabets in capital letter and numbers.</p>
    <input type="password" placeholder="password" ng-model="data" my-directive>
    <p>{{ status }}</p>
</body>

</html>
