<!doctype html>
<html ng-app="myApp">

<!-- Repeat Assignment - 3b, without using rootScope -->

<head>
    <title>Digital Library</title>
    <script src="angular.js"></script>
    <script>
        var myApp = angular.module("myApp", []);

        myApp.factory('factory', function($rootScope) {
            var checkout = {};
            checkout.val = true;
            checkout.set = function(value) {
                checkout.val = value;
                checkout.broadcast();
            }
            checkout.broadcast = function() {
                $rootScope.$broadcast('broadcast');
            }
            return checkout;
        });

        myApp.controller("technicalController", function($scope, factory) {
            $scope.checkout = false;
            $scope.subjects = {
                Physics: ['Mechanics', 'Nuclear Physics', 'Astronomy'],
                Chemistry: ['Thermodynamics', 'Chemical Kinetics', 'BioChemistry'],
                Mathematics: ['Arithmetic', 'Algebra', 'Analysis']
            };
            $scope.subjectsName = Object.keys($scope.subjects);
            $scope.visible = false;
            $scope.visible2 = false;
            $scope.technical = '';
            $scope.book = '';
            $scope.$watch('technical', function() {
                if ($scope.technical !== '') {
                    $scope.visible = true;
                    $scope.books = $scope.subjects[$scope.technical];
                }
                $scope.visible2 = false;
            });
            $scope.$watch('book', function() {
                if ($scope.book !== '') {
                    $scope.visible2 = true;
                }
            });
            $scope.Checkout = function() {
                factory.set(true);
            }
            $scope.$on('broadcast', function() {
                $scope.checkout = factory.val;
            });
        });

        myApp.controller("nonTechnicalController", function($scope, factory) {
            $scope.checkout = false;
            $scope.subjects = {
                Fiction: ["Ender's Game", 'Dune', 'The Alchemist'],
                Thriller: ['Heartsick', 'Inferno', 'Relic'],
                Detective: ['The Silkworm', 'The Detective', 'Curtain']
            };
            $scope.subjectsName = Object.keys($scope.subjects);
            $scope.visible = false;
            $scope.visible2 = false;
            $scope.nonTechnical = '';
            $scope.book = '';
            $scope.$watch('nonTechnical', function() {
                if ($scope.nonTechnical !== '') {
                    $scope.visible = true;
                    $scope.books = $scope.subjects[$scope.nonTechnical];
                }
                $scope.visible2 = false;
            });
            $scope.$watch('book', function() {
                if ($scope.book !== '') {
                    $scope.visible2 = true;
                }
            });
            $scope.Checkout = function() {
                factory.set(true);
            }
            $scope.$on('broadcast', function() {
                $scope.checkout = factory.val;
            });
        });

    </script>
</head>

<body>
    <div ng-controller="technicalController">
        <p>Technical</p>
        <select ng-model="technical">
            <option ng-repeat="each in subjectsName" value="{{ each }}">{{ each }}</option>
        </select>
        <select ng-model="book" ng-show="visible">
            <option ng-repeat="each in books" value="{{ each }}">{{ each }}</option>
        </select>
        <input type="button" value="Check out" ng-show="visible2" ng-disabled="checkout" ng-click="Checkout()">
    </div>
    <br>
    <div ng-controller="nonTechnicalController">
        <p>Non - Technical</p>
        <select ng-model="nonTechnical">
            <option ng-repeat="each in subjectsName" value="{{ each }}">{{ each }}</option>
        </select>
        <select ng-model="book" ng-show="visible">
            <option ng-repeat="each in books" value="{{ each }}">{{ each }}</option>
        </select>
        <input type="button" value="Check out" ng-show="visible2" ng-disabled="checkout" ng-click="Checkout()">
    </div>

</body>

</html>
