<!doctype html>
<html ng-app="myApp">

<!-- Create a digital library, with 2 categories - technical and non-technical books (one drop-down per category). Each category should have a different controller. Under each category (technical and non-technical), have book names and an option to checkout. The book names should appear, only if the corresponding category is selected. When the user checksout one book, the checkout button for both technical and non-technical categories should get disabled. Refer to the mock-up shown in the right side -->

<head>
    <title>Digital Library</title>
    <script src="angular.js"></script>
    <script>
        var myApp = angular.module("myApp", []);

        myApp.controller("technicalController", function($scope, $rootScope) {
            $rootScope.checkout = false;
            $scope.subjects = {
                Physics: ['Mechanics', 'Nuclear Physics', 'Astronomy'],
                Chemistry: ['Thermodynamics', 'Chemical Kinetics', 'BioChemistry'],
                Mathematics: ['Arithmetic', 'Algebra', 'Analysis']
            };
            $scope.subjectsName = Object.keys($scope.subjects);
            $scope.visible = false;
            $scope.visible2 = false;
            $scope.technical = '';
            $scope.book = '';
            $scope.$watch('technical', function() {
                if ($scope.technical !== '') {
                    $scope.visible = true;
                    $scope.books = $scope.subjects[$scope.technical];
                }
                $scope.visible2 = false;
            });
            $scope.$watch('book', function() {
                if ($scope.book !== '') {
                    $scope.visible2 = true;
                }
            });
            $scope.Checkout = function() {
                $rootScope.checkout = true;
            }
        });

        myApp.controller("nonTechnicalController", function($scope, $rootScope) {
            $scope.subjects = {
                Fiction: ["Ender's Game", 'Dune', 'The Alchemist'],
                Thriller: ['Heartsick', 'Inferno', 'Relic'],
                Detective: ['The Silkworm', 'The Detective', 'Curtain']
            };
            $scope.subjectsName = Object.keys($scope.subjects);
            $scope.visible = false;
            $scope.visible2 = false;
            $scope.nonTechnical = '';
            $scope.book = '';
            $scope.$watch('nonTechnical', function() {
                if ($scope.nonTechnical !== '') {
                    $scope.visible = true;
                    $scope.books = $scope.subjects[$scope.nonTechnical];
                }
                $scope.visible2 = false;
            });
            $scope.$watch('book', function() {
                if ($scope.book !== '') {
                    $scope.visible2 = true;
                }
            });
            $scope.Checkout = function() {
                $rootScope.checkout = true;
            }
        });

    </script>
</head>

<body>
    <div ng-controller="technicalController">
        <p>Technical</p>
        <select ng-model="technical">
            <option ng-repeat="each in subjectsName" value="{{ each }}">{{ each }}</option>
        </select>
        <select ng-model="book" ng-show="visible">
            <option ng-repeat="each in books" value="{{ each }}">{{ each }}</option>
        </select>
        <input type="button" value="Check out" ng-show="visible2" ng-disabled="checkout" ng-click="Checkout()">
    </div>
    <br>
    <div ng-controller="nonTechnicalController">
        <p>Non - Technical</p>
        <select ng-model="nonTechnical">
            <option ng-repeat="each in subjectsName" value="{{ each }}">{{ each }}</option>
        </select>
        <select ng-model="book" ng-show="visible">
            <option ng-repeat="each in books" value="{{ each }}">{{ each }}</option>
        </select>
        <input type="button" value="Check out" ng-show="visible2" ng-disabled="checkout" ng-click="Checkout()">
    </div>

</body>

</html>
