<!doctype html>
<html>

<!-- Get the email id from the user and validate the email id everytime it changes. If the email id is valid, a submit button should appear, which when clicked, should show the message "Email submitted successfully" in a div element. If the email is invalid, display a message "Invalid email id" in a div element.
 -->

<head>
    <title>email ID validation</title>
    <script src="angular.js"></script>
    <script>
        angular.module("myApp", []).controller("myController", function($scope) {
            $scope.staus = '';
            $scope.result = '';
            $scope.show = false;
            $scope.emailRegEx = /^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.(([0-9]{1,3})|([a-zA-Z]{2,3})|(aero|coop|info|museum|name))$/;

            $scope.validate = function() {
                console.log('Change');
                if (!$scope.emailRegEx.test($scope.emailID) || $scope.emailID === '' || $scope.emailID === undefined) {
                    $scope.status = 'Invalid email ID';
                    $scope.show = false;
                } else {
                    $scope.status = '';
                    $scope.show = true;
                }
                $scope.result = '';
            };

            $scope.submit = function() {
                $scope.result = 'Email submitted successfully';
            }
        });

    </script>
    <style>
        body > * {
            margin: 10px;
        }

    </style>
</head>

<body ng-app="myApp" ng-controller="myController">
    <input type="text" placeholder="email ID" ng-model="emailID" ng-change="validate()">
    <div>{{ status }}</div>
    <input type="button" value="Submit" ng-click="submit()" ng-show=show>
    <div>{{result}}</div>
</body>

</html>
