<!doctype html>
<html>

<!-- Convert assignment 6a searchbox to search with both first name and second name. Use custom filters for this -->

<head>
    <title>Custom filter</title>
    <style>
        table {
            border-collapse: collapse;
            text-align: center;
        }
        
        tr,
        td,
        th {
            border: 1px solid black;
            padding: 5px 10px 5px 10px;
        }
        
        select {
            width: 80px;
        }

    </style>
    <script src="angular.js"></script>
    <script>
        var myApp = angular.module("myApp", []);

        myApp.controller("myController", function($scope) {
            $scope.students = [{
                first: "Arun",
                last: "Kumar"
            }, {
                first: "Bala",
                last: "Krishnan"
            }, {
                first: "Chandra",
                last: "Mohan"
            }, {
                first: "Dinesh",
                last: "Kumar"
            }, {
                first: "Elango",
                last: "Velumani"
            }];
        });

        myApp.filter('search', function() {
            return function(input, search) {
                var output = [];
                if (search !== undefined) {
                    for (var i = 0; i < input.length; i++) {
                        if (input[i].first.toLowerCase().search(search.toLowerCase()) !== -1 || input[i].last.toLowerCase().search(search.toLowerCase()) !== -1)
                            output.push(input[i]);
                    }
                } else
                    output = input;
                if (output !== [])
                    return output;
                else
                    return input;
            }
        });

    </script>
</head>

<body ng-app="myApp" ng-controller="myController">
    <input type="text" placeholder="Search content" ng-model="searchContent">
    <br>
    <br>
    <table ng-show="(students | search:searchContent).length">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="each in students | search:searchContent">
                <td>{{ each.first }}</td>
                <td>{{ each.last }}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
