<!doctype html>
<html>

<!--Get 2 numbers from user and display their sum in a div element.-->

<head>
    <title>Sum Of Two Numbers</title>
    <script src="angular.js"></script>
    <script>
        angular.module("myApp", []).controller("myController", function($scope) {
            $scope.num1 = 0;
            $scope.num2 = 0;
        });

    </script>
    <style>
        body > * {
            margin: 10px;
        }
        
        input {
            width: 80px;
        }

    </style>
</head>

<body ng-app="myApp" ng-controller="myController">
    <input type="number" placeholder="Num1" ng-model="num1">
    <input type="number" placeholder="Num2" ng-model="num2">
    <div>{{num1+num2}}</div>
</body>

</html>
