<!doctype html>
<html>

<!-- Maintain a list of mobile phone objects (name, image, camera, gps, wifi etc...) and display them in a table using ng-repeat. Displaying an image for each mobile is important. -->

<head>
    <title>Mobile Phones</title>
    <script src="angular.js"></script>
    <script>
        angular.module("myApp", []).controller("myController", function($scope) {
            $scope.mobiles = [{
                name: "iPhone",
                image: "http://www.technobuffalo.com/wp-content/uploads/2015/06/orginal-iphone.jpg",
                camera: "2MP",
                gps: "No",
                wifi: "Wi-Fi 802.11b/g"
            }, {
                name: "Nokia X2-01",
                image: "http://3.bp.blogspot.com/-HbrDQb51Vh0/TdduqdVL-xI/AAAAAAAAAVo/vzPeAWT8Ea4/s1600/nokia_x2_01_deep_grey_front_604x604.png",
                camera: "VGA",
                gps: "No",
                wifi: "No"
            }, {
                name: "iPhone 4s",
                image: "http://n2.sdlcdn.com/imgs/a/w/j/bl3-aaf06.jpg",
                camera: "8MP",
                gps: "Yes",
                wifi: "Wi-Fi 802.11 b/g/n, hotspot"
            }, {
                name: "RedMI 1s",
                image: "http://i01.appmifile.com/webfile/globalimg/sg/2014/goods/redmi1s/1.jpg?130809",
                camera: "8MP",
                gps: "Yes",
                wifi: "Wi-Fi 802.11 b/g/n, Wi-Fi Direct, hotspot"
            }, {
                name: "iPhone 6s",
                image: "http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6p/gray/iphone6p-gray-select-2014_GEO_US?wid=1200&hei=630&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=khHkv2",
                camera: "12MP",
                gps: "Yes",
                wifi: "Wi-Fi 802.11 a/b/g/n/ac, dual-band, hotspot"
            }];
        });

    </script>
    <style>
        table {
            border-collapse: collapse;
        }
        
        th {
            padding: 10px;
        }
        
        th,
        td {
            margin: 0px;
            border: 1px solid black;
            text-align: center;
        }
        
        img {
            height: 100px;
        }

    </style>
</head>

<body ng-app="myApp" ng-controller="myController">
    <table>
        <thead>
            <tr>
                <th>Model</th>
                <th>Image</th>
                <th>Camera</th>
                <th>GPS</th>
                <th>Wi-fi</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="each in mobiles">
                <td>{{each.name}}</td>
                <td><img ng-src={{each.image}}></td>
                <td>{{each.camera}}</td>
                <td>{{each.gps}}</td>
                <td>{{each.wifi}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
