<!doctype html>
<html>

<!-- Create an asynchronous function to calculate moving average using promises. Hint : Use $timeout for async fn -->

<head>
    <title>Moving Average</title>
    <script src="angular.js"></script>
    <script>
        var myApp = angular.module("myApp", []);

        myApp.controller("myController", function($scope, $q, $timeout) {

            $scope.numbers = [10];
            $scope.average = 10;
            $scope.total = 10;

            var check = function() {
                var q = $q.defer();
                $scope.numbers.push(Math.floor(Math.random() * 11 - 5));
                $scope.total += $scope.numbers[$scope.numbers.length - 1];
                $scope.average = $scope.total / $scope.numbers.length;
                if ($scope.average >= 0)
                    q.resolve();
                else
                    q.reject();
                return q.promise;
            };

            var repeat = function() {
                check().then(function(result) {
                    $timeout(repeat, 2000);
                }, function() {
                    $scope.error = "Average reached negative value ! Execution stopped.";
                });
            };

            $timeout(repeat, 2000);

        });

    </script>
</head>

<body ng-app="myApp" ng-controller="myController">
    Total : <span>{{total}}</span>
    <br>
    <br> Count : <span>{{numbers.length}}</span>
    <br>
    <br> Average : <span>{{average | number:2}}</span>
    <br>
    <br> Numbers :
    <span ng-repeat="each in numbers track by $index">&nbsp; {{each}} &nbsp;</span>
    <p style="color: #F00">{{error}}</p>
</body>

</html>
