<!doctype html>
<html>

<!-- Show student details in a table with first name and last name. Add a search box with option to search first name or last name -->

<head>
    <title>Student details</title>
    <style>
        table {
            border-collapse: collapse;
            text-align: center;
        }
        
        tr,
        td,
        th {
            border: 1px solid black;
            padding: 5px 10px 5px 10px;
        }
        
        select {
            width: 80px;
        }

    </style>
    <script src="angular.js"></script>
    <script>
        var myApp = angular.module("myApp", []);

        myApp.controller("myController", function($scope) {
            $scope.students = [{
                first: "Arun",
                last: "Kumar"
            }, {
                first: "Bala",
                last: "Krishnan"
            }, {
                first: "Chandra",
                last: "Mohan"
            }, {
                first: "Dinesh",
                last: "Kumar"
            }, {
                first: "Elango",
                last: "Velumani"
            }];

            $scope.searchContent = "";
            $scope.search = {};
            $scope.search.first = "";
            $scope.search.last = "";
            $scope.searchField = "First";

            $scope.$watchGroup(["searchContent", "searchField"], function() {
                if ($scope.searchField === "First") {
                    $scope.search.first = $scope.searchContent;
                    $scope.search.last = "";
                } else {
                    $scope.search.first = "";
                    $scope.search.last = $scope.searchContent;
                }
            });

        });

    </script>
</head>

<body ng-app="myApp" ng-controller="myController">
    <input type="text" placeholder="Search content" ng-model="searchContent">
    <select ng-model="searchField">
        <option value="First">First</option>
        <option value="Last">Last</option>
    </select>
    <br>
    <br>
    <table ng-show="(students | filter:search).length">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="each in students | filter:search">
                <td>{{ each.first }}</td>
                <td>{{ each.last }}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
