<div>
    <p>Technical</p>
    <select ng-model="technical">
        <option ng-repeat="each in subjectsName" value="{{ each }}">{{ each }}</option>
    </select>
    <select ng-model="book" ng-show="visible">
        <option ng-repeat="each in books" value="{{ each }}">{{ each }}</option>
    </select>
    <div ng-show="visible2">
        <p>Copies : {{details[book].copies}}</p>
        <p>Description : {{ details[book].des }}</p>
    </div>
    <input type="button" value="Remove from cart" ng-show="details[book].added" ng-click="remove()">
    <input type="button" value="Add to cart" ng-hide="details[book].added" ng-click="add()" ng-disabled="!details[book].copies">
</div>
<br>
<div>
    <p>Non - Technical</p>
    <select ng-model="nonTechnical">
        <option ng-repeat="each in subjectsName2" value="{{ each }}">{{ each }}</option>
    </select>
    <select ng-model="book2" ng-show="visible3">
        <option ng-repeat="each in books2" value="{{ each }}">{{ each }}</option>
    </select>
    <div ng-show="visible4">
        <p>Copies : {{details2[book2].copies}}</p>
        <p>Description : {{ details2[book2].des }}</p>
    </div>
    <input type="button" value="Remove from cart" ng-show="details2[book2].added" ng-click="remove2()">
    <input type="button" value="Add to cart" ng-hide="details2[book2].added" ng-click="add2()" ng-disabled="!details2[book2].copies">
</div>
