body {
    text-align: center;
    margin-top: 100px;
}

p {
    font-size: 20px;
}

input {
    font-size: 16px;
    padding: 3px;
}

#start, #stop {
    margin-left: 57px;
}

#num {
    margin-left: 20px;
}